.table {
	font-family : Helvetica;
	font-size : 100%;
  font-weight: bold;
}
 .h1 {
   color: #ea503f;
   font-family: Arial;
 }
 .fields{
     padding: 5px;
 }

 /* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  

  textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
.email{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

  .button{
      background-color: green;
      width: 150px;
      height: 50px;
      color: white  ;
  }